Repository tinymovr/Tinymovr, pull requests merged in 2021-04, with the labels that each got.

#131 Studio/disable version checks
  docs/studio/usage.rst
  studio/Python/tinymovr/shell.py
  studio/Python/tinymovr/tinymovr.py
  studio/Python/tinymovr/user_wrapper.py
Labels: studio

#133 Optimize encoder reads
  firmware/src/encoder/encoder.c
  firmware/src/encoder/encoder.h
  firmware/src/scheduler/scheduler.c
Labels: enhancement, firmware

#134 Gimbal Improvements
  docs/api/guide.rst
  firmware/src/can/can_endpoints.c
  firmware/src/can/can_endpoints.h
  firmware/src/config.h
  firmware/src/controller/controller.c
  firmware/src/motor/calibration.c
  firmware/src/motor/motor.c
  firmware/src/motor/motor.h
  firmware/src/uart/uart_interface.c
  studio/Python/tests/test_board.py
  studio/Python/tests/tm_test_case.py
  studio/Python/tinymovr/iface/can_bus/endpoints.py
Labels: enhancement, firmware, studio

#136 Set Rotor Position Offset (zero position) and Rotor Direction
  .gitignore
  docs/api/guide.rst
  docs/hardware/gimbal.rst
  docs/index.rst
  docs/studio/usage.rst
  docs/upgrade/upgrade.rst
  firmware/src/can/can_endpoints.c
  firmware/src/can/can_endpoints.h
  firmware/src/common.h
  firmware/src/controller/controller.c
  firmware/src/controller/controller.h
  firmware/src/encoder/encoder.h
  firmware/src/motor/calibration.c
  firmware/src/motor/motor.c
  firmware/src/motor/motor.h
  firmware/src/observer/observer.c
  firmware/src/observer/observer.h
  firmware/src/uart/uart_interface.c
  firmware/src/utils/utils.c
  studio/Python/tests/test_board.py
  studio/Python/tinymovr/iface/can_bus/endpoints.py
Labels: enhancement, firmware, studio

#135 [DOC] add control loop documentation
  docs/control/control_loop.png
  docs/control/theory.rst
  docs/index.rst
Labels: documentation, enhancement
